.live-icon {
    width: 24px;
    height: 24px;
}
.project-header {
    padding:3rem 20px 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.project-header img {
    width: 50%;
}
.project-header .description {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    padding: 5% 3%;
    gap: 15px;
    font-size: 1rem;
}
.project-header .title {
    align-self: center;
    color: inherit;
    font-weight: bold;
    font-size: 4rem;
    line-height: 5rem;
}
.lists {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.projects-list {
    color: black;
    padding: 5% 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-list .project-image {
    vertical-align: middle;
    height: auto;
    width: 70%;
    border-radius: 28px 28px 0 0;
}
.projects-list .project-details {
    padding: 1rem;
    border-radius: 0 0 28px 28px;
    background: #fff;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    height: max-content;
}
.project-details .name {
    width: 100%;
    font-size: 1.5rem;
}
.project-details .description {
    width: 100%;
    font-size: 1rem;
}
.project-details .tech {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
}
.tech p {
    padding: 4px 5px;
    font-size: 0.8rem;
    border-radius: 16px;
    border: 2px solid #a1afc2;
}
.project-details .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 7px;
}
.links a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #282833E5;
}


@media (max-width:800px) {
    .project-header{
        flex-direction: column;
    }   
}
@media (max-width:750px) {
    .projects-list .project-image{
        width: 90%;
    }
    .projects-list .project-details{
        width: 90%;
    }
}

@media (max-width:650px) {
    .projects-list .project-image{
        vertical-align: middle;
        height: auto;
        width: 100%;
    }
    .projects-list .project-details{
        width: 100%;
    }
}

@media (max-width:450px) {
    .project-header .title{
        font-size: 2.5rem;
    }
}