header {
    height: 100vh;
    background: linear-gradient(to right bottom, #A7EDE7 50%, #76D6CE 50%);
}
body{ 
    background-color: #F2FAFC;
}
header main {
    color: #fff;
    padding: 8%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
main .title {
    color: #004E95;
    font-weight: 400;
    font-size: 1.75rem;
}
main .name {
    padding-top: 1%;
    color: #22222B;
    font-size: 5rem;
    font-weight: 600;
}
main .skills {
    text-wrap: wrap;
    color: #22222B;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3rem;
}
main .media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    line-height: 3rem;
}
.media .mediatitles {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border: 3px solid #4B5563;
    border-radius: 50%;
}
.mediatitles .icons{
    color: #4B5563;
}
.mediatitles:hover{
    color: #A7EDE7;
    border: 3px solid #22222B;
}

.resume{
    font-size: 1.25rem;
    color: #A7EDE7;
    font-weight: 700;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: max-content;
    width: max-content;
    border: none;
    border-radius: 6px;
    background: #004E95;
    cursor: pointer;
}
.resume:hover {
    border-radius: 30px;
}
.about,.projects {
    padding: 8% 0 6% 0;
    height: max-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #22222B;
}
.projects{
    padding: 4% 0 6% 0;
}
.about .title , .projects .title{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.about main {
    background: #FFF;
    box-shadow: 0px 2px 4px -2px rgba(161, 175, 194, 0.10), 0px 4px 6px -1px rgba(161, 175, 194, 0.10);
    width: 65%;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px;
    gap: 15px;
}
main .mern {
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
}
main .points {
    padding-bottom: 10px;
}
.heading{
    padding-left: 22px;
    font-size: 1.2rem;
    font-weight: 600;
}
main .skillslist{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 22px;
}
.skillslist .point{
    padding: 6px 9.23px 6px 10px;
    font-size: .8rem;
    border-radius: 16px;
    border: 2px solid #A1AFC2;
}
.projects .title .description{
    padding-top: 15px;
    font-size: 1.75rem;
}
