*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter";
    user-select: none;
}
.footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #282833;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: inherit;
}
.footer .heart{
    color: red;
}