*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter";
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: gray;
}
::-webkit-scrollbar-thumb {
    background: #58595B;
}
